@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);

* {
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: "Libre Franklin", sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 2rem 0;
}

.wrapper {
	#logo {
		margin: 0 auto;
	}
	h1 {
		font-size: 2.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	.text-primary {
		font-weight: 300;
		color: $Gray;
	}
	p {
		font-size: 1rem;
		font-weight: 300;
		margin-bottom: 2rem;
	}
}

#form {
	display: flex;
	width: 650px;
	justify-content: space-between;
	margin: 0 auto 4rem;
	position: relative;
}

input {
	width: 425px;
	padding: 0.8rem 1.5rem;
	font-family: inherit;
	color: $Gray;
	font-weight: 300;
	border: 1px solid $Pale-Blue;
	border-radius: 50px;
}
small {
	position: absolute;
	font-size: 0.75rem;
	bottom: -20px;
	left: 20px;
	font-style: italic;
	color: $Light-Red;
	display: none;
}
.error{
	display: block;
}
input[type="submit"] {
	width: 200px;
	border: none;
	border-radius: 50px;
	background: $Blue;
	color: #fff;
	font-family: inherit;
	font-weight: 600;
	padding: 1rem 0rem;
	box-shadow: 0 5px 10px 2px $Pale-Blue;
}

#hero-img img {
	width: 640px;
	height: 383px;
	margin-bottom: 5rem;
}

footer {
	a {
		text-align: center;
		padding: 0.5rem;
		display: inline-block;
		border: 1px solid $Pale-Blue;
		border-radius: 50%;
		margin: 0 0.5rem 2rem;
	}
	.fab {
		font-size: 1rem;
		color: $Blue;
		width: 24px;
	}

	a:hover {
		border-color: $Blue;
		background: $Blue;
		.fab {
			color: #fff;
		}
	}
	p {
		font-size: 0.85rem;
		color: $Gray;
		font-weight: 300;
	}
}

@media (max-width: 700px) {
	.wrapper {
		max-width: 85%;
		margin: auto;
		#logo img {
			width: 60px;
		}
		h1 {
			font-size: 1.25rem;
		}
		p {
			font-size: .75rem;
		}
	}

	#form{
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}
	input{
		width: 100%;
		margin-bottom: .5rem;
	}
	small{
		position: unset;
		margin-bottom: 2rem;
		display: none;
	}
	input[type="submit"]{
		width: 100%;
	}
	#hero-img img {
		width: 345px; 
		height: 200px;
		// margin-bottom: 5rem;
	}
	footer p{
		font-size: .6rem;
	}
}
